# Hierarchial Clustering

## Import Libraries

In [1]:
import numpy as np  
import pandas as pd  
import seaborn as sns
import matplotlib.pyplot as plt

# Import Data

In [2]:
customer_data = pd.read_excel('C:/Users/aksin52/Documents/Machine Learning Express/Introduction to Machine Learning/Marketing Analytics Specialization/Part 5 - Clustering Algorithms/Data/card_customer_data.xlsx')

# Checking the Data

In [3]:
customer_data.shape

(3078, 11)

In [4]:
customer_data.head()

,CLIENTNUM,Education_Level,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Utilization_Ratio,Total_Trans_Amt,Total_Trans_Ct
0,769911858,High School,Blue,34,3,4,3313.0,2517,0.760,1171,20
1,713061558,Graduate,Blue,36,3,1,4010.0,1247,0.311,1088,24
2,818906208,High School,Silver,27,2,2,29081.0,1396,0.048,1538,36
3,710599683,College,Blue,36,3,6,11751.0,0,0.000,1539,17
4,712396908,Graduate,Blue,48,5,2,2436.0,680,0.279,1570,29

In [5]:
customer_data['Card_Category'].value_counts()

Blue        2866
Silver       166
Gold          34
Platinum      12
Name: Card_Category, dtype: int64

In [6]:
customer_data.dtypes

CLIENTNUM                     int64
Education_Level              object
Card_Category                object
Months_on_book                int64
Total_Relationship_Count      int64
Months_Inactive_12_mon        int64
Credit_Limit                float64
Total_Revolving_Bal           int64
Avg_Utilization_Ratio       float64
Total_Trans_Amt               int64
Total_Trans_Ct                int64
dtype: object

# Dropping ID

In [7]:
data=customer_data.drop(['CLIENTNUM'],axis=1)
data.head()

,Education_Level,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Utilization_Ratio,Total_Trans_Amt,Total_Trans_Ct
0,High School,Blue,34,3,4,3313.0,2517,0.760,1171,20
1,Graduate,Blue,36,3,1,4010.0,1247,0.311,1088,24
2,High School,Silver,27,2,2,29081.0,1396,0.048,1538,36
3,College,Blue,36,3,6,11751.0,0,0.000,1539,17
4,Graduate,Blue,48,5,2,2436.0,680,0.279,1570,29

# Split features into Numerical and Categorical

In [8]:
num=data.select_dtypes(include='number')
char=data.select_dtypes(include='object')

In [9]:
num.dtypes

Months_on_book                int64
Total_Relationship_Count      int64
Months_Inactive_12_mon        int64
Credit_Limit                float64
Total_Revolving_Bal           int64
Avg_Utilization_Ratio       float64
Total_Trans_Amt               int64
Total_Trans_Ct                int64
dtype: object

In [10]:
char.dtypes

Education_Level    object
Card_Category      object
dtype: object

In [11]:
num.describe(percentiles=[0.01,0.99])

,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Utilization_Ratio,Total_Trans_Amt,Total_Trans_Ct
count,3078.000000,3078.000000,3078.000000,3078.000000,3078.000000,3078.000000,3078.000000,3078.000000
mean,35.808317,3.748863,2.343405,8644.321670,1157.112411,0.273851,4394.285575,64.541261
std,8.063304,1.555690,0.993973,9162.912233,815.792572,0.277065,3393.536036,23.617003
min,13.000000,1.000000,0.000000,1438.300000,0.000000,0.000000,563.000000,10.000000
1%,15.000000,1.000000,1.000000,1438.300000,0.000000,0.000000,882.090000,19.000000
50%,36.000000,4.000000,2.000000,4511.000000,1279.000000,0.171500,3910.500000,67.000000
99%,55.000000,6.000000,5.000000,34516.000000,2517.000000,0.913230,15695.650000,122.000000
max,56.000000,6.000000,6.000000,34516.000000,2517.000000,0.994000,17634.000000,139.000000

# Capping and Flooring of outliers

In [12]:
def outlier_cap(x):
    x=x.clip(lower=x.quantile(0.01))
    x=x.clip(upper=x.quantile(0.99))
    return(x)

In [13]:
num=num.apply(lambda x : outlier_cap(x))

In [14]:
num.describe(percentiles=[0.01,0.99])

,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Utilization_Ratio,Total_Trans_Amt,Total_Trans_Ct
count,3078.000000,3078.000000,3078.000000,3078.000000,3078.000000,3078.000000,3078.000000,3078.000000
mean,35.815789,3.748863,2.336257,8644.321670,1157.112411,0.273451,4388.499331,64.535737
std,7.996110,1.555690,0.957493,9162.912233,815.792572,0.276100,3366.690843,23.419793
min,15.000000,1.000000,1.000000,1438.300000,0.000000,0.000000,882.090000,19.000000
1%,15.000000,1.000000,1.000000,1438.300000,0.000000,0.000000,885.100700,19.000000
50%,36.000000,4.000000,2.000000,4511.000000,1279.000000,0.171500,3910.500000,67.000000
99%,55.000000,6.000000,5.000000,34516.000000,2517.000000,0.913053,15685.909500,122.000000
max,55.000000,6.000000,5.000000,34516.000000,2517.000000,0.913230,15695.650000,122.000000

# Missing Value Analysis

In [15]:
num.isnull().mean()

Months_on_book              0.0
Total_Relationship_Count    0.0
Months_Inactive_12_mon      0.0
Credit_Limit                0.0
Total_Revolving_Bal         0.0
Avg_Utilization_Ratio       0.0
Total_Trans_Amt             0.0
Total_Trans_Ct              0.0
dtype: float64

In [ ]:
# Since no Missing Values are present in the data, we need not proceed with Missing Value Imputation process

# Building Derived Feature - Avg Spend per Transaction

In [16]:
num['avg_spend']=num['Total_Trans_Amt']/num['Total_Trans_Ct']

In [17]:
num.head()

,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Utilization_Ratio,Total_Trans_Amt,Total_Trans_Ct,avg_spend
0,34.0,3.0,4.0,3313.0,2517.0,0.760,1171.0,20.0,58.550000
1,36.0,3.0,1.0,4010.0,1247.0,0.311,1088.0,24.0,45.333333
2,27.0,2.0,2.0,29081.0,1396.0,0.048,1538.0,36.0,42.722222
3,36.0,3.0,5.0,11751.0,0.0,0.000,1539.0,19.0,81.000000
4,48.0,5.0,2.0,2436.0,680.0,0.279,1570.0,29.0,54.137931

# Feature Scaling

In [ ]:
from sklearn.preprocessing import StandardScaler
stdsc=StandardScaler()
num_std=pd.DataFrame(stdsc.fit_transform(num),index=num.index,columns=num.columns).add_suffix('_std')

In [ ]:
num_std.head()

In [ ]:
num_std.describe()

# Checking for Correlations

In [ ]:
import seaborn as sns
sns.heatmap(num_std.corr(),vmin=-1,vmax=1,center=0,cmap='coolwarm')

# Drop Correlated Variables

In [ ]:
num_std=num_std.drop(['Credit_Limit_std','Total_Revolving_Bal_std','Total_Trans_Amt_std','Total_Trans_Ct_std','Total_Relationship_Count_std'],axis=1)

# Checking for Correlations

In [ ]:
import seaborn as sns
sns.heatmap(num_std.corr(),vmin=-1,vmax=1,center=0,cmap='coolwarm')

## Run Dendogram based hierarchial clustering

In [ ]:
import scipy.cluster.hierarchy as shc
plt.figure(figsize=(15, 5))  
plt.title("Cluster Dendograms")  
dend = shc.dendrogram(shc.linkage(num_std, method='centroid'))

## Building the clusters

In [ ]:
from sklearn.cluster import AgglomerativeClustering

cluster = AgglomerativeClustering(n_clusters=4, affinity='euclidean', linkage='complete')  

cluster_label=cluster.fit_predict(num_std)

num_std['cluster_label']=pd.DataFrame(cluster_label)

In [ ]:
from sklearn.metrics import silhouette_score
cluster_label=num_std['cluster_label']
silhouette_avg = silhouette_score(num_std, cluster_label)
silhouette_avg

In [ ]:
from sklearn.metrics import davies_bouldin_score
davies_bouldin_score(num_std,cluster_label)

In [ ]:
num['cluster_label']=num_std['cluster_label']

In [ ]:
num['cluster_label'].value_counts()

In [ ]:
num.groupby('cluster_label').agg(['mean'])

# joining the dataframes Num and Char

In [ ]:
data_all=pd.concat([num,char],axis=1,join="inner")

In [ ]:
data_all.head()

# Cluster Profiling

In [ ]:
pd.crosstab(index=data_all['cluster_label'], columns=data_all['Card_Category'],values=data_all['Card_Category'],aggfunc='count')

In [ ]:
pd.crosstab(index=data_all['cluster_label'], columns=data_all['Card_Category'],values=data_all['Total_Trans_Amt'],aggfunc='mean')

In [ ]:
pd.crosstab(index=data_all['cluster_label'], columns=data_all['Card_Category'],values=data_all['Total_Trans_Ct'],aggfunc='mean')

## Plotting the cluster profiles

In [ ]:
import seaborn as sns
from numpy import mean
sns.barplot(x='cluster_label', y="Avg_Utilization_Ratio",data=data_all, estimator=mean )

In [ ]:
sns.barplot(x='cluster_label', y="Months_on_book",data=data_all, estimator=mean )

In [ ]:
sns.barplot(x='cluster_label', y="Months_Inactive_12_mon",data=data_all, estimator=mean )

In [ ]:
sns.barplot(x='cluster_label', y="avg_spend",data=data_all, estimator=mean )

# Providing the final output

In [ ]:
data_cluster_0=data_all.loc[data_all['cluster_label']==0]
data_cluster_0.shape

In [ ]:
data_cluster_1=data_all.loc[data_all['cluster_label']==1]
data_cluster_1.shape

In [ ]:
data_cluster_2=data_all.loc[data_all['cluster_label']==2]
data_cluster_2.shape

In [ ]:
data_cluster_3=data_all.loc[data_all['cluster_label']==3]
data_cluster_3.shape

In [ ]:
data_cluster_0.to_csv('C:/Users/aksin52/Documents/Machine Learning Express/Introduction to Machine Learning/Marketing Analytics Specialization/Part 5 - Clustering Algorithms/Data/data_cluster_3.csv')